In [1]:
import suclepy as sp

In [2]:
# Load example dirty CSV
df= "../data/example_dirty.csv"

In [4]:
#call the auto_clean method to clean the data set
report=sp.auto_clean(df)

In [5]:
# print the summery report
print(report.summary())

SUCLEPY CLEANING REPORT
------------------------------
Total Rows (before): 10
Rows After Cleaning: 7
Duplicates Removed: 3
Missing Values Filled: 2
Invalid Emails Found: 3
Standardized Columns: 10
Status: SUCCESS ✅

In [7]:
# Display inferred roles
report.head()

,Name,Age,Join_Date,Email,Department,Phone,City,Country,Salary,Remarks
0,Subodh,21.000000,2024/05/10,subodh@,IT,9.876543e+09,Jaipur,India,50000,Good
1,Amit,22.000000,10-05-2024,amit@example.com,HR,9.123457e+09,Delhi,India,45000,Average
3,Riya,20.000000,2024-05-11,NaN,Finance,9.768519e+09,Mumbai,India,48000,Excellent
4,Karan,23.000000,12-05-2024,karan@,Marketing,9.988777e+09,Bangalore,India,47000,Good
5,Neha,21.833333,2024/05/13,neha@example.com,IT,9.871235e+09,Pune,India,51000,Average

In [8]:
# save the clean data set
report.to_csv("cleaned_data.csv")

Cleaned data saved to cleaned_data.csv

## This is the Version 1.0.1
## Date 15/11/2025

In [1]:
!pip install --upgrade suclepy

Requirement already satisfied: suclepy in c:\users\subod\appdata\local\programs\python\python311\lib\site-packages (1.0.0)
Collecting suclepy
  Downloading suclepy-1.0.1-py3-none-any.whl.metadata (6.9 kB)
Requirement already satisfied: pandas>=2.0 in c:\users\subod\appdata\local\programs\python\python311\lib\site-packages (from suclepy) (2.3.3)
Requirement already satisfied: numpy>=1.25 in c:\users\subod\appdata\local\programs\python\python311\lib\site-packages (from suclepy) (1.26.4)
Requirement already satisfied: tabulate>=0.9 in c:\users\subod\appdata\local\programs\python\python311\lib\site-packages (from suclepy) (0.9.0)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\subod\appdata\local\programs\python\python311\lib\site-packages (from pandas>=2.0->suclepy) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\subod\appdata\local\programs\python\python311\lib\site-packages (from pandas>=2.0->suclepy) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\subod\appdata\local\programs\python\python311\lib\site-packages (from pandas>=2.0->suclepy) (2025.2)
Requirement already satisfied: six>=1.5 in c:\users\subod\appdata\local\programs\python\python311\lib\site-packages (from python-dateutil>=2.8.2->pandas>=2.0->suclepy) (1.16.0)
Downloading suclepy-1.0.1-py3-none-any.whl (13 kB)
Installing collected packages: suclepy
  Attempting uninstall: suclepy
    Found existing installation: suclepy 1.0.0
    Uninstalling suclepy-1.0.0:
      Successfully uninstalled suclepy-1.0.0
Successfully installed suclepy-1.0.1

In [2]:
import numpy as np
import pandas as pd

In [3]:
import suclepy as sp

In [4]:
#dataset with 10 rows
df = pd.DataFrame({
    "Name": ["Subodh", None, "", "Amit", "Riya", None, "Riya", "Mohan", "", "Geeta"],
    "Age": [21, None, 22, 25, 20, 23, 20, None, 24, 22],
    "Join_Date": [
        "2024/05/10", None, "12-05-2024", "2024-05-11", "May 12, 2024",
        "13/05/2024", "", "2024-05-14", None, "2024/05/15"
    ],
    "Email": [
        "subodh@", None, "amit@example.com", "amit@", "", "riya@gmail.com",
        None, "mohan@", "geeta@example.com", ""
    ],
    "City": [None, "Jaipur", "", "Delhi", None, "Mumbai", "Delhi", "", "Jaipur", "Pune"]
})

In [5]:
report = sp.auto_clean(df)

c:\Users\subod\AppData\Local\Programs\Python\Python311\Lib\site-packages\suclepy\core\utils.py:28: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna("abcd", inplace=True)
c:\Users\subod\AppData\Local\Programs\Python\Python311\Lib\site-packages\suclepy\core\utils.py:24: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(df[col].median(), inplace=True)
c:\Users\subod\AppData\Local\Programs\Python\Python311\Lib\site-packages\suclepy\core\utils.py:28: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna("abcd", inplace=True)

In [6]:
print("=== Cleaning Summary ===")
print(report.summary())

=== Cleaning Summary ===
SUCLEPY CLEANING REPORT
------------------------------
Total Rows (before): 10
Rows After Cleaning: 10
Duplicates Removed: 0
Missing Values Filled: 10
Invalid Emails Fixed: 7
Missing Strings Filled: 5
Dates Standardized: 7
Default Date Used: 3
Status: SUCCESS ✅

In [7]:
print("\n=== Cleaned Data ===")
print(report.head(10))  # Show all 10 rows

=== Cleaned Data ===
     Name   Age   Join_Date              Email    City
0  Subodh  21.0  05-10-2024   subodh@gmail.com    abcd
1    abcd  22.0  00-00-0000      abc@gmail.com  Jaipur
2    abcd  22.0  12-05-2024   amit@example.com    abcd
3    Amit  25.0  05-11-2024     amit@gmail.com   Delhi
4    Riya  20.0  12-05-2024      abc@gmail.com    abcd
5    abcd  23.0  13-05-2024     riya@gmail.com  Mumbai
6    Riya  20.0  00-00-0000      abc@gmail.com   Delhi
7   Mohan  22.0  14-05-2024    mohan@gmail.com    abcd
8    abcd  24.0  00-00-0000  geeta@example.com  Jaipur
9   Geeta  22.0  15-05-2024      abc@gmail.com    Pune

In [8]:
# Save cleaned data to CSV
report.to_csv("cleaned_dataset_vesrsion_1_0_1.csv")

File saved as cleaned_dataset_vesrsion_1_0_1.csv