In [1]:
import suclepy as sp

In [2]:
# Load example dirty CSV
df= "../data/example_dirty.csv"

In [4]:
#call the auto_clean method to clean the data set
report=sp.auto_clean(df)

In [5]:
# print the summery report
print(report.summary())

SUCLEPY CLEANING REPORT
------------------------------
Total Rows (before): 10
Rows After Cleaning: 7
Duplicates Removed: 3
Missing Values Filled: 2
Invalid Emails Found: 3
Standardized Columns: 10
Status: SUCCESS âœ…

In [7]:
# Display inferred roles
report.head()

,Name,Age,Join_Date,Email,Department,Phone,City,Country,Salary,Remarks
0,Subodh,21.000000,2024/05/10,subodh@,IT,9.876543e+09,Jaipur,India,50000,Good
1,Amit,22.000000,10-05-2024,amit@example.com,HR,9.123457e+09,Delhi,India,45000,Average
3,Riya,20.000000,2024-05-11,NaN,Finance,9.768519e+09,Mumbai,India,48000,Excellent
4,Karan,23.000000,12-05-2024,karan@,Marketing,9.988777e+09,Bangalore,India,47000,Good
5,Neha,21.833333,2024/05/13,neha@example.com,IT,9.871235e+09,Pune,India,51000,Average

In [8]:
# save the clean data set
report.to_csv("cleaned_data.csv")

Cleaned data saved to cleaned_data.csv